       body {  
	      font-family: "Lato", sans-serif;	
          background-image: url("../draw.png"); /* draw2 */
		  /*
		  background-repeat: no-repeat; 
          background-size: cover;
		  */
          color:#ececea;		  
	   }
	   p{
		 color:#ececea; !important;  
	   }
	   

       h1{
		   text-align:center;
		   padding-bottom:1em;
		   padding-top:.5em;
	   }
	   h2{
		 clear:both;  
	   }
	   .img{
		   width:90.25%;
		   color:#111;

		}
	  .interface,
	  .interface2{
		  /* capture d'interface: se trouvent en bas des sous-titres" */
		  height:auto !important;
		  width:97.7% !important; 
		  padding:0 !important;
		  
          
	  }
	  .interface2{
		  width:94% !important;
	  }

	  .paragraphe{
			border:1px solid #8c8b8b; 
			padding: 0.5em;
			margin:0.5em; 
			border-radius: 2px;
		}
/* ✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅	*/	
		img , .img, .planche, .grosTitre, .grosTitreBlanc{ 
		  float: left;  

		  /* width:87%;*/
		  width:94%;/*ça m'a emmerdé: car i fallait remplir ainsi remplir l'ecran .sinon le contenu remonte en display inline */
		  height: auto ;
		  padding:1.2em; 
		  /* margin:1.5% 6.5%;  */
		  margin:0 auto 2em  0; 
         /*
		  box-shadow:
			0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
			0px 2px 2px 0px rgba(255, 255, 255, 0.5);
			 border:1px solid #8c8b8b;
		  */
		  border-bottom:1px solid #8c8b8b;
		  border-radius: 4px; 	  
		}
		.grosTitre, .grosTitreBlanc{text-align: center;}
		img , .img, .grosTitre{ 
		    background:#555;   /*  #555; white */
			border-radius:4px !important;
		}
/* ✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅	*/

		.planche, .grosTitreBlanc{ background: #f7f7f9 ; margin:auto}
	
		
		/* pour les titre de page dans la colonne centrale */
		.box-shadow-titre, .box-shadow-titre-blanc{
			box-shadow:0px 1px 2px 0px #8c8b8b;
			padding:0.3em 2em; 
			
			/* margin-left:auto; margin-right:auto; */
			margin:auto;/* ça suffit pour center le truc */
			border-radius:2px;
			font-weight:bold;
			text-align:center;
            color:#ccc;	 /* #8c8c8c; */
		}
		.box-shadow-titre-blanc { color:#8c8c8c; }

		.logo{
		  font-size: 18px;
		  padding:0 -5em ;
		  margin-left:0;
		 
		  display:inline;
		  font-weight:lighter;
		  text-align:center;
		  font-family:Arial, Helvetica, sans-serif;
		  box-shadow:0px 0px 12px #888;
		  -moz-box-shadow: 0px 10px 2px #888;  
		  -webkit-box-shadow: 0px 10px 2px #888; 
		  /* ROUGE */
		  text-shadow: -1px -1px #f00, 1px 1px #a00, -3px 0 4px #000;
		  color: #dd0000;
          
         /* VERT 
          text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
          color: #090; 
		  */
            border-radius:0 99px 0 19px ; /* border-radius:0 99px 0 99px ;	*/
          /* background:#8c8b81;*/	
           background:#666;  
		}
		/* footer */		
		.footer-table { padding:1em;}
		.footer-td { padding:0.4em; background:#8c8b81; height:auto;  margin:auto; width:30%; }
		
		
		/*-------------- Fixed sidenav, full height ------------------*/

		.sidenav {
		  position: fixed;
		  top: 0; 
		  left: 0; 
		  height: 100%;
		  width: 260px; /* 250px */
		   
		  /* background-color: #111; */
		  /*
		  background-image: url("../draw.png");
		  background-repeat: no-repeat; 
          background-size: cover;
          */
		  padding-top: 20px;
		  overflow-x: hidden;
		  
		  /* box-shadow: 0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47; */
		  box-shadow: 0 0 65px #111 inset, 0 0 20px #beae8c inset, 0 0 5px #816f47;
		}

		/* Main content */
		.main {
		  margin-left: 300px; /* 250px; Same as the width of the sidenav */
		  font-size: 20px; /* Increased text to enable scrolling */
		  padding: 0px 10px;
		}

		/* Some media queries for responsiveness */
		@media screen and (max-height: 450px) {
		  .sidenav {padding-top: 15px;}
		  .sidenav a {font-size: 18px;}
		}

		small{font-size:0.5em; color:#660066;}
		img { height:auto;  }
		p { clear:both !important;  }
		
		
		
		/* #########################################  LE MENU ACCORDEON ################################################### */
        
		#aside{
	         float:left;
		     width:16%; height:100%;
		     margin-right:5%;  
		     text-align:left;
		     height:500px;
			 
         /*
          border: 1px solid #8c8b8b !important;
		  border-radius: 40px !important;
		  */
			 

	    }

		ul:hover { list-style-type: none; }
		ul.navigation {
		  margin: 0 2.71%;
		  padding: 0;
		  /* width: 200px; */
		  width:94% !important;
		  list-style: none;
		  background: #A4A4A4; /* #A4A4A4; */
		  color: #fff;

		  font: 1.5em "Trebuchet MS", sans-serif;
		  
		  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset, 
			           0px 2px 2px 0px rgba(255, 255, 255, 0.5) !important;
          /* border: 1px solid #8c8b8b !important; */
          border-top: 1px solid #8c8b8b !important;
          border-bottom: 1px solid #8c8b8b !important;
          border-right: 1px solid #111 !important;
          border-left: 1px solid #111 !important;
		  border-radius: 4px !important;
		  
		}
		.navigation .subMenu {
		  font-size: .8em;
		  /* background: #49505a url(subMenu.png) 0 0 repeat-x;*/
		  background: #49505a; /* #A4A4A4; */
		  font-size: .9em;
		  margin: 0; padding: 0;
		  border-bottom: 1px solid #667;
		} 
		.navigation ul.subMenu a {
		  background: none;
		  padding: 3px 20px;
		}
		.navigation a:hover, .navigation a:focus, .navigation a:active {
		  text-decoration: underline;
		}		
		a:hover { opacity: .7;   }
		.navigation a, .navigation span {
		  display: block;
		  padding: 4px 10px;
		  color: #00004d;
		  text-decoration: none;
		 /* background: #D4D7C4 url(menu-item.png) left bottom no-repeat; */
          background:white;
		  
		  

		}
		

        .toggleSubMenu .subMenu a{ color:white;}
		
		ul li a{
		   	 padding-top:.5em !important;
			 padding-bottom:.5em !important;
		}
		
		.copyright_ {
			display:inline-block;
			float:left;
            /* +++++++++++++ */			
			margin-top:1em;
			margin-left:0;
		}